<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <%= data.title %>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <%= data.content %>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>